.container{
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    display: grid;

}

.box1{
    background-color: blueviolet;
    grid-column-start:1;
    grid-column-end: 5;
}

.box2{
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 4;
   grid-row-start:2;

}

.box3{
    background-color: blue;
}

.box4{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 5;

}

.box5{
    background-color: chocolate;
    grid-column-start: 1;
   
}

.box6{
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 5;
}
   
   