.container{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* justify-items: center; */
    /* align-items: center; */
/* 
    place-items: center center; */

    justify-items: center;
    align-items: center;
    place-items: center center;

    /* para organizar os itens que estiver dentro em horizontal*/

    justify-content: space-between;
    align-content: center;
    place-content: space-between center;

    /* para organizar o espaço  na vertical */




     
}